<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <h1 class="text-center my-4">Squawk Box</h1>

      <form action="/squawks" method="post" class="mb-4 squawk-form">
        <div class="form-group">
          <textarea
            class="form-control"
            name="squawk"
            rows="3"
            placeholder="Compose a squawk"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Squawk</button>
      </form>

      <% squawks.forEach((squawk) => { %>
      <div class="card squawk-card">
        <div class="card-body">
          <div class="d-flex align-items-start">
            <img
              src="/uploads/profiles/<%= squawk.user.profilePicture %>"
              alt="Profile Picture"
              class="rounded-circle squawk-avatar me-3"
            />
            <div>
              <h5 class="card-title squawk-card-title">
                <%= squawk.user.username %>
              </h5>
              <p class="card-text squawk-card-text"><%= squawk.message %></p>
              <p class="card-text squawk-card-date">
                <%= squawk.createdAt.toLocaleDateString() %>
              </p>

              <% if (user && squawk.user._id.toString() === user._id.toString())
              { %>
              <form
                action="/squawks/<%= squawk._id %>?_method=DELETE"
                method="POST"
              >
                <button type="submit" class="btn btn-danger btn-sm">
                  Delete
                </button>
              </form>
              <% } %>
            </div>
          </div>
        </div>

        <!-- Comment Section -->
        <div class="card-body">
          <% squawk.comments.forEach((comment) => { %>
          <p><%= comment.user.username %>: <%= comment.text %></p>
          <% }) %> <% if (user) { %>
          <form action="/squawks/<%= squawk._id %>/comments" method="POST">
            <input type="text" name="text" placeholder="Your Comment" />
            <button type="submit" class="btn btn-primary btn-sm">
              Add Comment
            </button>
          </form>
          <% } else { %>
          <p>You must be logged in to comment</p>
          <% } %>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
